@import url('https://fonts.googleapis.com/css?family=Roboto:400,300');
@import url('https://fonts.googleapis.com/css?family=K2D:700,300');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: #ecf0f1;
}

header,
main,
section {
    display: block;
    height: 100%;
    width: 100%;
    box-sixing: border-box;
}

section.no__full {
    height: auto;
    width: auto;
}

.full-width {
    height: 100vh;
    width: 100%;
    display: inline-block;
}

#header__banner {
    background: #2980b9;
    color: white;
    position: absolute;
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header__banner > h1 {
    font-family: 'K2D', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 3.5em;
}   

#header__banner h2 {
    color: rgba(255, 255, 255, 0.7);
}

#header__banner img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

i.arrow {
    margin-top: 6em;
    border: solid rgba(255, 255, 255, 0.8); 
    border-width: 0 6px 6px 0;
    display: inline-block;
    transform: rotate(45deg);
    padding: 8px;
}

.section__header {
    height: auto;
    width: auto;
    margin-top: -1em;
    padding: 3.5em;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}

.section__header h1,
.section__header h2 {
    font-family: 'K2D', sans-serif;
}

.section__header h1 {
    font-size: 3em;
    color: #2c3e50;
}

.section__header h2 {
    font-size: 1.5em;
    color: #2c3e50;
    width: 50%;
    font-weight: 300;
}

section#portfolio {
    padding: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__content {
    box-shadow: -1px -1px 18px -2px rgba(138,138,138,1);
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.portfolio__text {
    padding: 1em;
}

.portfolio__text h3 {
    padding-top: 1.5em;
}

.portfolio__content p {
    font-weight: 300;
    line-height: 1.25em;
    letter-spacing: 1px;
}

.portfolio__content img {
    width: 100%;
}

